// To Optimize the Output for Production: npm run build


// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Orbitron:wght@400;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


// ------------------------ Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
     --bs-table-bg: unset;
     --bs-table-color: unset;
}

// ---------------------- General Style
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f1f1f;
    color: #000;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

// ------------------------ Game Container
.game-container {
    color: #1f1f1f;
    max-width: 900px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

// --------------------- Header Container
.header-container {
    justify-self: center;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #fca311;
    color: #1f1f1f;
    padding: 10px 20px;
    text-align: left;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

header nav h1 {
    font-size: 1.8rem;
    color: #1f1f1f;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    flex-shrink: 0;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    flex-grow: 1;
    justify-content: flex-end;
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    text-decoration: none;
    color: #1f1f1f;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;

    &:hover {
        background: #f4b95a;
        transform: scale(1.05);
    }
}

.menu-icon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    margin-left: auto;
    background-size: contain;
}

/* When the 'show' class is added */
nav ul.show {
    display: block;
}



// ----------------------- Main Continer
.main-container {
    background: #1f1f1f;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    //position: relative;
}

// -------------------- Main Content H1 and H3
h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
}

h3 {
    margin-top: 15px;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

// ---------------------- Category Links (Grid Layout)
ul {
    list-style: none;
    margin: 25px 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    li {
        background: #fca311;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;

        a {
            text-decoration: none;
            color: #1f1f1f;
            font-size: 1rem;
            font-family: 'Orbitron', sans-serif;
            ;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;
            transition: transform 0.3s, background 0.3s;

            &:hover {
                background: #f4b95a;
                transform: scale(1.05);
            }

            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 50%;
                margin-bottom: 10px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }
        }
    }
}

// -------------------- Login and Register Container
.auth-container {
    margin-top: 50px;
    background-color: #1f1f1f;
    color: #fff;

}

.card-header {
    background: #fca311;
    margin-bottom: 20px;
}

.card {
    background: rgb(58, 58, 58);
    padding: $padding;
    border-radius: $border-radius;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    margin-bottom: 50px ;
}

button {
    background: $secondary-color;
    border: none;
    color: $text-color;
    padding: $padding / 2;
    border-radius: $border-radius;
    font-family: $font-family-secondary;
    cursor: pointer;
    transition: background $transition-speed;
    margin: 15px;
    display: flex;

    &:hover {
        background: lighten($secondary-color, 10%);
    }

    &.btn-secondary {
        background: $danger-color;

        &:hover {
            background: lighten($danger-color, 10%);
        }
    }
}

// ----------------------- Forms
form {
    .form-control {
        border: 1px solid lighten($primary-color, 20%);
        padding: $padding / 2;
        border-radius: $border-radius;

        &:focus {
            outline: none;
            border-color: $secondary-color;
        }
    }

    .form-check-label {
        color: $secondary-text-color;
    }

    .invalid-feedback {
        color: $danger-color;
    }
}

// ---------------------- Leaderboard Table

/* Table Header */
.leaderboard-container .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.leaderboard-container .table thead tr th {
    background-color: #fca311!important;
    color: #1f1f1f;
    padding-left: 20px;
    text-align: left;
    font-weight: bold;

}

/* Table Body */
.leaderboard-container .table tbody tr td {
    background-color: #ffffe4!important;
    color: #1f1f1f;
    padding-left: 20px;
}

.leaderboard-container .table tbody tr:nth-child(odd) {
    background-color: #fffff0!important;
}

.leaderboard-container table.table-hover tbody tr:hover {
    background-color: #f4b95a!important;
}

table th,
table td {
    text-align: left;
    border-bottom: 1px solid #ddd;
}


// --------------------------- Question Container
.question-container {
    background: #1f1f1f;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    overflow: hidden;
    color: #fff;
    line-height: 1.5;
    line-height: 24px;
}

// ---------------------------- Progress Bar
.progress {
    margin-top: 20px;
    background: lighten($primary-color, 20%);
    border-radius: $border-radius;
    overflow: hidden;

    .progress-bar {
        background: $secondary-color;
        height: 20px;
        transition: width $transition-speed;
    }
}

// ------------------------- Quiz Result Container
.quiz-result-container {
    color: #fff;
    margin: 15px;

    a {
        margin-top: 10px;
    }
}

// -------------------------- Player Container
.player-container {

    .best-result {
        color: #fff;
        margin-bottom: 30px;
    }

    .scores {
        margin-top: 0;
        color: #fff;

        h2 {
            margin-bottom: 10px;
        }

        ul {
            margin-top: 10px;
            display: block;
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 10px;
                padding: 0;
            }
        }
    }

    ul {
        list-style: none;
        margin: 25px 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        color: #fff;
        line-height: 1.8;
        letter-spacing: 1px;

        li {
            background: #1f1f1f;
            border-radius: 0px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: auto;
            padding: 10px;
            color: #fff;
            line-height: 1.8;
            letter-spacing: 1px;
        }
    }

}

// ------------------ Instructions Container
.instructions-container {

    h1 {
        text-align: center;
        letter-spacing: 2px;

    }

    h3 {
        background: #fca311;
        line-height: 1.5;
        letter-spacing: 2px;
        padding: 7px;
        display: inline;
        border-radius: 3px;
        color: #000;
    }

    p {
        color: #fff;
        line-height: 1.8;
        letter-spacing: 1px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    ul {
        list-style-type: disc;
        margin: 25px 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        color: #fff;
        line-height: 1.8;
        letter-spacing: 1px;

        li {
            background: #1f1f1f;
            border-radius: 0px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: auto;
            padding: 10px;
            color: #fff;
            line-height: 1.8;
            letter-spacing: 1px;
        }
    }
}


// ------------------------ Footer
.footer {
    background-color: #1f1f1f;
    color: #fca311;
    padding: 10px 20px;
    border-top: 2px solid #fca311;
    text-align: center;

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
    }

    p {
        margin: 0;
        font-size: 0.9rem;
    }
}

// -------------------------- Utilities
.text-center {
    text-align: center;
}

.mt-3 {
    margin-top: $margin / 2;
}

.mb-3 {
    margin-bottom: $margin / 2;
}

// ----------------------- Responsive Adjustments
@media (max-width: 768px) {
    .game-container {
        margin: 10px;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    header nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 10px 0;
        margin: 10px 0;
        background-color: #fca311;
        transition: opacity 0.3s ease-in-out;
        border-radius: 5px;
        justify-content: flex-start;
        flex-grow: 0;
    }

    nav ul.show {
        display: flex;
        flex-direction: column;
        transition: opacity 0.3s ease-in-out;
        border-radius: 5px;
    }

    h1 {
        font-size: 1.5rem;
        margin: 0;
        line-height: 1;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        font-size: 1.5rem;
        margin: 0;
        line-height: 1;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li:hover {
        background-color: #f4b95a;
        border-radius: 3px;
    }
}